$tile-boxshadow: inset -1px -1px rgb(117, 117, 117), inset 1px 1px #ebeaea, inset -2px -2px grey, inset 2px 2px #fff;
$reverse-tile-boxshadow: inset 1px 1px rgb(117, 117, 117), inset -1px -1px #ebeaea, inset 2px 2px grey, inset -2px -2px #fff;

@font-face {
    font-family: terminalFont;
    src: url("../assets/DSEG14-Classic/DSEG14Classic-Regular.ttf");
}

.menu-bar-container {
    box-shadow: $reverse-tile-boxshadow;
    height: 48px;
    width: calc(100% - 20px);
    position: relative;
    top: 5px;
    display: flex;
    align-items: center;
}

.game-container {
    width: fit-content;
    height: fit-content;
    background: silver;
    box-shadow: $tile-boxshadow;
    .game-header {
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        .header-container {
            box-shadow: $reverse-tile-boxshadow;
            height: 48px;
            width: calc(100% - 20px);
            position: relative;
            top: 5px;
            display: flex;
            align-items: center;
            .header-elements-flex-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 10px;
                width: calc(100% - 20px);
                .number-container {
                    position: relative;
                    font-size: 27px;
                    font-family: terminalFont;
                    color: red;
                    background-color: black;
                    padding: 2px;
                }
                .number-value-mirrored {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    filter: opacity(.35);
                }
            }
        }
    }
    .happy-face-container {
        box-shadow: $tile-boxshadow;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        span {
            padding-top: 2px;
            font-size: 26px;
            cursor: pointer;
        }
    }
}

.gameboard-container {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    box-shadow: $reverse-tile-boxshadow;
    border: 3px solid;
    border-color: #7d7d7d #fff #fff #7d7d7d;
    margin: 10px;
    *{
        box-sizing: border-box;
    }
}
.loop1 {
    width: 25px;
}
.loop2 {
    width: 100%;
    height: 25px;
    position: relative;
    .single-tile {
        height: 100%;
        box-shadow: $tile-boxshadow;
        user-select: none;
    }
    .unclicked {
        background: silver;
    }
    .clicked {
        background: silver;
        box-shadow: none;
        border-top: .5px solid rgb(100, 100, 100);
        border-right: .5px solid rgb(100, 100, 100);
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }
    .flagged {
        margin: 0px;
        text-align: center;
        font-size: 13px;
    }
    .mine {
        background-color: black;
    }
    .clicked1 {
        color: blue;
    }
    .clicked2 {
        color: green;
    }
    .clicked3 {
        color: red;
    }
    .clicked4 {
        color: navy;
    }
    .clicked5 {
        color: maroon;
    }
    .clicked6 {
        color: teal;
    }
    .clicked7 {
        color: black;
    }
    .clicked8 {
        color: gray;
    }
}

.dropbtn {
    background-color: silver;
    color: black;
    position: relative;
    top: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: silver;
    outline: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
.game-diff-dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: silver;
    padding: 0 7px 0 2px;
    z-index: 1;
    box-shadow: $tile-boxshadow;
    hr {
        margin-left: 2px;
    }
}

// .checkmark {

// }

.non-active-checkmark, 
.checkmark {
    display: inline-block;
    width: 15px;
    margin-left: 3px;
}

.dropdown-item {
    margin: 8px 2px;
}
  
.dropdown-content span:hover {
    cursor: pointer;
}
  
.show {
    display:block;
}